

/* CSS ADMIN PAGES */

.panel{
    margin: 50px 10px 100px 10px !important;
}
div.dataTables_paginate ul.pagination {
    margin: 15px 0px !important;
}
.table>tbody>tr>td,
.table>tbody>tr>th{
    padding: 0px 5px 0px 5px !important;
    line-height: 2 !important;
    vertical-align: inherit !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.usertable{
    white-space: nowrap !important;
    font-size: 15px;
    display:table-cell !important;
    overflow: hidden !important;
}

.modal_background {
    background: #fff;
    margin-bottom: 10px
}
.modal_link{
    margin: 0 5px 0 5px;
}
.modal-title{
    margin-bottom: 50px;
}
.detail_user{
    margin: 10px 100px 0px 100px;
}
.modal_header {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #f8f0f0;
    padding: 0.5em 1em 0.4em;
    background: rgba(27, 120, 224, 0.77);
    margin: 0em;
    position: relative;
}


/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-shadow: none;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -o-transition:.5s all;
    -ms-transition:.5s all;
    transition:.5s all;
}
.modal-header .close {
    margin-top: 11px;
    opacity: 1;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button */
.btn_admin {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 5px 5px 5px 5px;
}
.btn_admin:hover{
    box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.24), 2px 17px 56px 0px rgba(0,0,0,0.19);
}
.btn_admin_action {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 36px;
    height: 32px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 3px 6px 2px 6px;
}
.btn_admin_action:hover{
    box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.24), 2px 17px 56px 0px rgba(0,0,0,0.19);
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2d7ab7;} /* Blue */
.info:hover {background: #125082;}

.warning {background-color: rgba(218, 171, 30, 0.93);} /* Orange */
.warning:hover {background: rgba(183, 146, 4, 0.93);}

.danger {background-color: #d04d43;} /* Red */
.danger:hover {background: #b91508;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

/* End Button */
